<head>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

  <h1> Game Over! </h1>
  <br>
  <h2> <%=session[:game].winner%> Wins! </h2>

  <!-- Battletune player -->
  <audio src="media/battle_victory.mp3" autoplay loop></audio>
  <!-- Battletune player -->


  <form action="/">
    <input type="submit" value="Play Again?">
  </form>

</body>
