<head>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

  <form action="/names" method="post">
    Player 1: <input type="text" name=player1_name />
    Player 2: <input type="text" name=player2_name />
    <input type="submit" value="Fight">
  </form>

  <form action="/">
    <input type="submit" value="Chrome Play Audio">
  </form>

  <!-- Battletune player -->
  <audio loop autoplay src="media/intro_music.mp3"></audio>
  <!-- Battletune player -->

</body>
